<li>
  Artikel 3 De voorgedragen kandidaat-schepenen verkozen te verklaren in de rangorde van de gezamenlijke akte van voordracht van de kandidaat-schepenen, meer bepaald:
  <table class="data-table data-table--lined data-table--zebra data-table--tight">
     <thead>
        <tr>
          <th>Rangorde</th>
          <th>Officiële naam</th>
          <th>Mandaat</th>
          <th>Status</th>
          <th>Start</th>
          <th>Einde</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedMandatarissen as |mandataris|}}
          <tr property="ext:bekrachtigtAanstellingVan" resource={{mandataris.uri}} typeof={{mandataris.rdfaBindings.class}}>
            <td>
              <span property="mandaat:rangorde" content="{{mandataris.rangorde}}">
                {{mandataris.rangorde}}
              </span>
            </td>
            <td>
              {{#rdfa/ctx-linked-resource resource=mandataris p="isBestuurlijkeAliasVan" as |model persoon|}}
                {{persoon.prop resource=model p="gebruikteVoornaam"}} {{persoon.prop resource=model p="achternaam"}}
              {{/rdfa/ctx-linked-resource}}
            </td>
            <td>
              {{#rdfa/ctx-linked-resource resource=mandataris p="bekleedt" as |model mandaat|}}
                <span property="org:role" resource="{{model.bestuursfunctie.uri}}">
                  <span property="skos:prefLabel">{{model.bestuursfunctie.label}}</span>
                </span>
              {{/rdfa/ctx-linked-resource}}
            </td>
            <td>
              <span property={{mandataris.rdfaBindings.status}} resource={{mandataris.status.uri}}>
                <span property="skos:prefLabel">{{mandataris.status.label}}</span>
              </span>
            </td>
            <td>
              <span property="mandaat:start" datatype="xsd:date" content={{moment-format mandataris.start 'YYYY-MM-DD'}}>
                {{moment-format mandataris.start 'YYYY-MM-DD'}}
              </span>
            </td>
            <td>
              <span property="mandaat:einde" datatype="xsd:date" content={{moment-format mandataris.einde 'YYYY-MM-DD'}}>
                {{moment-format mandataris.einde 'YYYY-MM-DD'}}
              </span>
            </td>
          </tr>
        {{/each}}
      </tbody>
  </table>
</li>
<li>
  Artikel 4 Akte te nemen van de eedaflegging van de verkozen verklaarde schepenen.
</li>
<li>
  Artikel 5 Akte te nemen van de verhindering van volgende schepenen:
  <ul>
    {{#each verhinderdeMandatarissen as |mandataris|}}
      <li>{{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}}</li>
    {{/each}}
  </ul>
</li>
<li>
  Artikel 6 Akte te nemen van de vervanging van de verhinderde schepenen voor de duurtijd van de verhindering door:
  <ul>
    {{#each waarnemendMandatarissen as |mandataris|}}
      <li>{{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}}</li>
    {{/each}}
  </ul>
</li>
