<td>{{schepenen-aanstelling/rangorde-selector mandataris=mandataris}}</td>
<td><strong>{{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}}</strong></td>
<td>
  {{mandataris.bekleedt.bestuursfunctie.label}}
</td>
<td>
  {{schepenen-aanstelling/datetime-edit datetimeStr=(mut mandataris.start)}}
</td>
<td>
  {{schepenen-aanstelling/datetime-edit datetimeStr=(mut mandataris.einde)}}
</td>
<td>
  {{#wu-link-button class="button--alt button--small" isNarrow=true onClick=(action "remove")}}
    <i class="vi vi-cross vi-u-s"></i>Verwijder mandataris
  {{/wu-link-button}}
</td>
